<section id="call-for-participation">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Call for Participation</span></h2>
          <p class="subtitle text-center">
            Would you like to become a speaker or suggest one? Great! This year we are reaching out to our global community and we are opening a Call for Participation. Please, submit your proposal(s) by August 15, 2019 using <a href="https://frab.paralelnipolis.cz/en/HCPP2019/cfp">the following interface</a>.
          </p>
          <p class="subtitle text-center">
            This year's main topic is opt-out. Global censorship of freedom of speech, massive financial surveillance or upcoming drastic Internet regulations and most importantly, desperation from the impossibility to change the political system falling to a wrong direction, lead to workarounds and solutions that technologies may offer to opt-out the existing system and build the parallel one. We appreciate addressing and promoting these technologies including all opt-out and liberation guides.
          </p>
          <p class="subtitle text-center">
            We are also open to other topics and program suggestions that will enrich your congress experience.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <div class="row text-center">
      <a href="https://frab.paralelnipolis.cz/en/HCPP2019/cfp" class="btn btn-main-color page-scroll">Submit proposal</a>
    </div>
  </div>
  <!-- /.container -->
</section>
