<section id="call-for-participation">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Call for Participation</span></h2>
		  <p class="subtitle text-center">
            The Call for Participation closed on August 15, 2019.
          </p>
          <p class="subtitle text-center">
            We received an incredible amount of interesting proposals which are in the process of evaluation.
          </p>
          <p class="subtitle text-center">
            If you proposed a talk, we will be in touch with you soon. If you haven’t submitted a talk, try next year! We are interesting in knowing what’s on your mind or who may be a good suggestion for the speakers lineup.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
  <!-- /.container -->
</section>
