<section id="partners">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Partners</span></h2>
          <p class="subtitle text-center">Official partners of this year's Hackers Congress Paralelní Polis</p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Partners List -->
    <h3 class="text-center"><span>Main Partners</span></h3>
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.generalbytes.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/generalbytes.png" alt="General Bytes" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://exchange.simplecoin.eu/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/simplecoin.png" alt="Simplecoin" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://xmr.to/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/xmrto.png" alt="XMR.to" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.rockawayblockchain.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/rockawayblockchain.png" alt="Rockaway Blockchain" />
        </a>
      </div>
    </div>
    
    <h3 class="text-center mrgn-50-top"><span>Partner</span></h3>
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2 mrgn-20-top">
        <a href="https://www.tpvision.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/tpvision.png" alt="TP Vision" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 mrgn-20-top">
        <a href="https://www.trippki.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/trippki.png" alt="Trippki" />
        </a>
      </div>
    </div>
    
    <h3 class="text-center mrgn-50-top"><span>News live broadcasting partner</span></h3>
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 mrgn-20-top">
        <a href="http://www.worldcryptonetwork.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/wcn.png" alt="World Crypto Network" />
        </a>
      </div>
    </div>
    <!-- /.Partners List -->

    <div class="row">
      <h3 class="text-center mrgn-40-top">
        <a href="#contact" class="btn btn-main-color page-scroll">Become our partner</a>
      </h3>
    </div>
  </div>
  <!-- /.container -->
</section>
