<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          <p class="subtitle text-center">
            We are releasing the very last ticket for the public sale. By becoming the owner of this very special and donor type of ticket you will support the existence of OPT-OUT and its program. As a recognition for the donation the owner will gain the full access to the 6th Annual Hackers Congress Paralelni Polis, but also a free guest pass to all HCPP events in the future.
		  </p>
		  <p class="subtitle text-center">
			All regular tickets are sold-out. We will not sell any tickets on the spot.
		  </p>
		  <p class="subtitle text-center">
            Thanks to everyone who bought a ticket, you can still buy additional merchandise <a href="https://donate.paralelnipolis.cz/16-hcpp19/" target="_blank" class="js-shop-link">in our shop</a>.
          </p>

        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!--  Passes -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
        <img src="/media/images/full-hcpp19-ticket.jpg" class="img-responsive center-block">
        <h3>HCPP19 Very Last Ticket & HCPP Life-Time Access</h3>
        <p>
          <strong>1 BTC</strong>
        </p>
      </div>
    </div>

    <div class="row text-center mrgn-10-top">
		<form method="POST" action="https://pay.paralelnipolis.cz/api/v1/invoices">
			<input type="hidden" name="storeId" value="9JHa23iPcwLUqMxej8f4foCihvwv4QdUq51x5yvhkPKV">
			<input type="hidden" name="price" value="1">
			<input type="hidden" name="currency" value="BTC">
			<input type="hidden" name="checkoutDesc" value="HCPP19 Very Last Ticket">
			<input type="hidden" name="orderId" value="1">
			<input type="hidden" name="notifyEmail" value="hubik.tomas@gmail.com">
			<input type="submit" class="btn btn-main-color" value="Buy Now">
		</form>
    </div>
  </div>
  <!-- /.container -->
</section>

