<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          <p class="subtitle text-center">
            The number of Early Birds Tickets is very limited. <a href="https://donate.paralelnipolis.cz/hcpp19/251-full-hcpp19-ticket-early-bird" target="_blank" class="js-shop-link">Buy now!</a>
          </p>

        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!--  Passes -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
        <a href="https://donate.paralelnipolis.cz/hcpp19/251-full-hcpp19-ticket-early-bird" target="_blank" class="js-shop-link">
          <img src="/media/images/full-hcpp19-ticket-early-bird.jpg" class="img-responsive">
        </a>
        <h3>Early Bird Ticket</h3>
        <p>
          <strong>Only 2500CZK (~97EUR)</strong>
        </p>
      </div>
    </div>

    <div class="row text-center mrgn-50-top">
      <a href="https://donate.paralelnipolis.cz/16-hcpp19/" target="_blank" class="btn btn-main-color js-shop-link">Go to shop</a>
    </div>
  </div>
  <!-- /.container -->
</section>

