<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          <p class="subtitle text-center">
            Current price of a non-business ticket for full three congress days is 4900 CZK (~190 EUR).
          </p>

        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!--  Passes -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://donate.paralelnipolis.cz/hcpp19/251-full-hcpp19-ticket" target="_blank" class="js-shop-link">
          <img src="/media/images/full-hcpp19-ticket.jpg" class="img-responsive center-block">
        </a>
        <h3>Ticket</h3>
        <p>
          <strong>Only 4900CZK (~190 EUR)</strong>
        </p>
      </div>
      
      <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://donate.paralelnipolis.cz/hcpp19/263-hcpp-pack-ticket-t-shirt" target="_blank" class="js-shop-link">
          <img src="/media/images/hcpp-pack-ticket-t-shirt.jpg" class="img-responsive center-block">
        </a>
        <h3>HCPP Pack - Ticket + T-shirt</h3>
        <p>
          <strong>Only 5400 CZK (~210 EUR)</strong>
        </p>
      </div>
	  
	  <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://donate.paralelnipolis.cz/hcpp19/269-full-hcpp19-business-ticket" target="_blank" class="js-shop-link">
          <img src="/media/images/full-hcpp19-ticket.jpg" class="img-responsive center-block">
        </a>
        <h3>Business Ticket</h3>
        <p>
          <strong>Only 9900 CZK (~385 EUR)</strong>
        </p>
      </div>
    </div>

    <div class="row text-center mrgn-50-top">
      <a href="https://donate.paralelnipolis.cz/16-hcpp19/" target="_blank" class="btn btn-main-color js-shop-link">Go to shop</a>
    </div>
  </div>
  <!-- /.container -->
</section>

